.top{
    background-image: url(IP3/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-size:100% 100%;
    text-align: center;
    color:white;
    height:600px;
}
#logo{
    margin-top:180px;
    height:70px;
    width:70px;
}
#top1{
    font-size: 40px;
}
#top2{
    font-size: 10px;
}
.about{
    text-align: center;
}
#aboutus{
    font-weight: 800;
    font-size: 30px;
}
#line1{
    margin-left:100px;
    margin-right: 40px;
}
.services{
    background-image:url(IP3/assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
    height:400px;
    color:white;
}
#service{
    font-size: 30px;
    font-weight: 800;
    margin-top: 90px;
}
#what{
    text-align: center;
    font-weight:600;
    font-size: 30px;
}
.images{
    display:flex;
    justify-content: space-between;
}
.imagetitles{
    display:flex;
    justify-content:space-between;
}
#design{
    margin-left:50px;
}
#product{
    margin-right: 50px;
}
#des{
    margin-left:60px;
}
#dev{
    margin-left: 70px;
}
.portfolio{
    margin-left: 70px;
    margin-right: 70px;
}
#port{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.row1{
    display:flex;
    justify-content:space-around;
    flex-direction: row-reverse;
}
.row2{
    display:flex;
    justify-content: space-around;
}
.pf{
    height:200px;
    width:230px;
}
.contactus{
    background-image: url(IP3/assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-size: 100% 100%;
    color:white;
}
#contact{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.form-row{
    display: flex;
    justify-content: space-evenly;
    margin-right:200px;
    margin-left:200px;
}
#message{
    margin-left:200px;
    background: transparent;
    color:white;
}
#name{
    margin-left:-50px;
}
.socials{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}
#cp{
    text-align:center;
}
#cpy{
    text-align: center;
}